@media screen and (max-width:1920px){
  #profile{
    display: flex; 
    justify-content: center;
  }
  .about-containers{
    flex-wrap:wrap;
  }
} 


@media screen and (max-width:1200px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
    .container{
      margin-left:-2rem;
      
    }

    #experience,.experience-details-container{
      margin-top:2rem;
    }
    .section-container{
      display:block;
    }
    .arrow{
      display:none;
    }
    .sections,section.container{
      height:fit-content;
    }
    section{
      margin:0 5%;
    }
    .section__pic-container{
      width:275px;
      height:275px;
      margin:0 auto 2rem;
    }
    .about-details-container {
      width: 90%;
      margin: 0 auto;
    }
    .about-containers {
      flex-direction: column;
      gap: 1rem;
    }
    .details-container {
      width: 100%;
      padding: 1rem;
    }
    .article-container{
      height:fit-content;
    }
    .article-container .icon{
      width: 51px;
      height: 51px;
    }
}  
@keyframes colorChange {
    0% {
      color: rgb(179, 169, 229); 
    }
    100% {
      color: rgb(234, 178, 206);  
    }
}
@media screen and (max-width:600px){
    #profile{
      margin-bottom:2rem;
      width:100%;

    }
    article{
      font-size: 1rem;
    }
    .about-containers,.contact-info-upper-container,.btn-container{
      flex-wrap: wrap;
    }
    .nav-links li a{
      font-size:1rem;
    }
    .experience-sub-title{
      font-size:1.25rem;
    }
    .Name{
      font-size:1.5rem;
    }
    .nav-links{
      flex-direction:column;
      gap:0.5rem;
      text-align:center;
    }
    .article-container .icon{
      width: 31px;
      height: 31px;
    }
    .section__pic-container{
      height:36vh;
      justify-content:center;
    }
    .section__text__p1{
      font-size:1.15rem;
    }
    .title{
      font-size:2rem;
    }
    .article-container{
      flex-direction: row;
      justify-content: space-between;
      gap: 2.5rem;
      margin-right:-2rem;
      margin-left:5rem;
    }
    article{
      display: flex;
      width: 24.13273%; 
      justify-content: space-around;
      gap: 0.2rem;
    }
    .container{
      width:75.5%;
      margin-left:0.5rem;
      margin-right:-1rem;
      
    }
    .details-container{
      justify-content: center;
      padding:0.6rem;
      margin: 0 auto;
      text-align: center;
      
    }
    article h3{
      font-size:0.9rem;
    }
    .text-container p{
      font-size: 1rem;
    }
    .detail-container{
      margin-top: -4rem;
      margin-bottom: 7rem;
    } 
    .experience-sub-title{
      margin-top:-4rem;
    }
    .det-container p{
      font-size:0.8rem;
    }
    .det-container{
      margin-left: 0.3rem;
      margin-right:-0.2rem;
    }
    #about{
      margin-bottom:5rem;
      margin-right:1.5rem;

    }
} 
