/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #040f21;
  font-family: "Outfit", serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(231,225, 225);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 3rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(246,240,240);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: rgba(167, 211, 227, 0.297) ; 
}

a:hover {
  color:rgb(179, 169, 229);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: pink;
  cursor:grab;
}

.Name {
  font-size: 1.5rem;
  color:rgb(234, 225, 225);
}


.Name:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(215, 219, 237);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: pink ;
  transition: all 0.3 ease-in-out;
}
.menu-links a:hover{
  color:bisque;
  text-decoration:underline;
  text-underline-offset: 0.3rem;
  text-decoration-color:aliceblue;
  cursor:grab;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.section-container {
  display: flex;
   
}
#profile {
  display: flex; 
  justify-content: center;
  margin-top: 15vh;
}
.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;

}

.section__text {
  align-self: center;
  text-align: center;
}


.section__text__p1 {
  font-size: 2.89em;
  margin-bottom: 1rem;
  font-weight: 300;
  min-width: 200px;
  max-width:700px;


}

.title {
  font-size: 3rem;
  text-align: center;
  color:rgb(179, 169, 229);
  animation: colorChange 1s infinite alternate;
}
.title1 {
  font-size: 3rem;
  text-align: center;
  color:rgb(179, 169, 229);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  height: 2.5rem;
  transition: transform 200ms ease;
}
.icon:hover {
  transform: scale(1.2);
}
.icon:active {
  transform: scale(1.1); 
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 700;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-size: 0.9rem;
}
.btn-color-1:hover{
  cursor: grab;
}

.btn-color-1{
  background:rgb(179, 169, 229);
  color: rgb(59, 81, 161);
}

.btn-color-1:hover {
  background:rgb(101, 125, 211);
  color:rgb(255, 255, 255)
}

.btn-container {
  gap: 1rem;
}

#about{
  position:relative; 
  justify-self: center;
  /* justify-content: center; */
  margin-top: 15vh;
  /* margin-top: 2vh;  */
}
.about-containers{
  display:flex;
  flex-wrap:wrap;
  gap:2rem; 
  margin-top: 2rem; 
  /* justify-content: center; */
  margin-bottom:2rem;
  justify-content: center;
}
.about-details-container{
  display:flex;
  align-items:center;
  flex-direction: column;
}
.about-containers,.about-details-container{
  display:flex;
}
.about-pic{
  border-radius:2rem;
}
.arrow{
  position:absolute;
  right:-5rem;
  bottom:2.5rem;
}
.details-container{
  padding:1.5rem;
  flex:1;
  background:rgb(179, 169, 229);
  border-radius: 2rem;
  border-color: rgb(163,163,163);
  text-align:center;
}
.details-container p {
  color:rgb(59, 81, 161); 
  font-size:0.85rem;
}

.text-container p{
  font-size: 1.85rem;
  min-width:200px;
  max-width:700px;
}
.container{
  position: relative;
  background-color: black;
  border-radius: 15px;
  /* margin-top: 80px; */
  padding: 53px;
  z-index:1;
  margin-left: 0.1%;
  width:93%;
  
}

#experience{
  margin-top: 15vh;
  display: flex; 
  justify-content: space-between; 
  /* align-items: flex-start; */
  /* justify-self: center; */
  justify-content: center;
  min-height:100vh;
  margin-bottom: 5vh;
}
.experience-details-container{
  display: flex;
  justify-content: space-between; 
  gap: 10px;
}
.experience-sub-title{
  color:white;
  font-weight:600;
  font-size:1.95rem;
  margin-bottom:2rem;
}
.article-container{
  display: grid ;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  color:rgb(190, 185, 185)

}
.article-container article{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-container .icon{
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.det-container{
  padding:1rem;
  border-radius: 2rem; 
  text-align:center; 
  background:  rgb(179, 169, 229);
  margin-bottom: 1rem;
  width: 100%; 
  max-width: 400px; 
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  
  
}
.det-container p {
  color:rgb(59, 81, 161); 
}
.detail-container{
  padding: 1.5rem;
  flex: 1;
  text-align: center;
  border-radius: 2rem;
  margin-bottom: 1rem;
  max-width: 400px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
} 
.det-container:hover {
  background: #9caee0; 
  border-color: rgb(200, 200, 200); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  opacity: 0.9; 
  transform: translateX(20px);
}